
@model Glow.Models.offer
    @{
        ViewBag.Title = "OffersDetails";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <section class="hero-wrap" style="background-image: url('../images/bg_2.jpg'); height:150px;" data-stellar-background-ratio="0.9">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text  align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center pt-5 mt-md-5">
                    @*<h1 class="mb-3 bread">@Glow.Resources.HomeResource.Classes</h1>*@
                @*<p class="breadcrumbs"><span class="mr-2"><a href="index.html"></a></span> <span></span></p>*@
            </div>
        </div>
    </div>
</section>
<environment include="Development">
    @if (System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft)
    {
        <section class="ftco-sectionn">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ftco-animate">
                        <h2 class="img-fluidd_h2" >@Html.DisplayFor(model => model.offername_Ar)</h2>
                     
                            <img src='@Html.DisplayFor(model => model.offerImage)' alt="" class="img-fluidd">
                        

                        <p class="img-fluidd_p">@Html.DisplayFor(model => model.offercontent_Ar)</p>



                    </div>
                </div>
            </div>
        </section> <!-- .section -->

    }
    else
    {
        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ftco-animate">
                        <h2 class="img-fluidd_h2" >@Html.DisplayFor(model => model.offername)</h2>
                        
                            <img src='@Html.DisplayFor(model => model.offerImage)' alt="" class="img-fluidd">
                        

                        <p class="img-fluidd_p">@Html.DisplayFor(model => model.offercontent)</p>



                    </div>
                </div>
            </div>
        </section> <!-- .section -->
    }
    </environment>